# Para probar localmente sin servidor:
COT_URL=log://stdout

# Ejemplos:
# COT_URL=tcp://127.0.0.1:8087
# COT_URL=tls://takserver.example.com:8089
# COT_URL=udp://239.2.3.1:6969

TAK_UID=pytak-client-001
TAK_CALLSIGN=PyTAK Raspberry
TAK_LAT=-33.020771
TAK_LON=-71.637703
TAK_HAE=0
TAK_CE=9999999
TAK_LE=9999999
TAK_INTERVAL=10 
TAK_GROUP_NAME=Cyan
TAK_GROUP_ROLE=Team Member
TAK_PLATFORM=PyTAK RPANION
TAK_VERSION=1.0
TAK_CHAT_ENABLE=0
TAK_CHAT_ROOM=All Chat Rooms
TAK_CHAT_ANNOUNCE=
TAK_CHAT_ANNOUNCE_POSITION_TIMEOUT=10
TAK_CHAT_STATUS_COMMAND=Estado
TAK_CHAT_STATUS_RESPONSE=Estado: online, publicando posicion CoT.
TAK_CHAT_DEBUG_RX=0
TAK_CHAT_UDP_BIND_ALL=1

# Fuente de posicion:
# - static: usa TAK_LAT/TAK_LON/TAK_HAE
# - mavlink: lee GLOBAL_POSITION_INT directo desde CubePilot


TAK_SOURCE=static
MAVLINK_CONNECTION=/dev/ttyACM0
MAVLINK_BAUDRATE=115200
MAVLINK_HEARTBEAT_TIMEOUT=30
MAVLINK_MESSAGE_TIMEOUT=5


# TLS opcional:
# PYTAK_TLS_CLIENT_CERT=certs/client.pem
# PYTAK_TLS_CLIENT_KEY=certs/client.key
# PYTAK_TLS_CLIENT_CAFILE=certs/ca.pem
# PYTAK_TLS_DONT_VERIFY=0
